<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zazil Ha Spa</title>
    <link rel="stylesheet" href="/resources/css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Zazil Ha Spa</h1>
            <div class="settings">
                <a href="#">Configuracion</a>
                <a href="#">Ayuda</a>
            </div>
        </header>
        <div class="content">
            <div class="section">
                <a href="/views/agregarservicio.ejs" style="text-decoration: none;">
                    <button class="add" >Ver servicios</button>
                </a>
                <button class="panel" onclick="abrirPanel('servicios')">Panel de administraci칩n</button>
                <button class="edit" onclick="editarImagenes('servicios')">Editar im치genes (Agregar o eliminar)</button>
            </div>
            <div class="section">
                <a href="/views/agregarservicio.ejs" style="text-decoration: none;">
                    <button class="add" >Ver servicios</button>
                </a>
                <button class="panel" onclick="abrirPanel('productos')">Panel de administraci칩n</button>
                <button class="edit" onclick="editarImagenes('productos')">Editar im치genes (Agregar o eliminar)</button>
            </div>
        </div>
    </div>
    <script src="/resources/css/scripts.js"></script>
</body>
</html>
